{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "lf",
    "trimTrailingWhitespace": true,
    "stripWhitespace": true,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": true,
    "printWidth": 140
}
